body{
   font-family: arial
}
a:link, a:visited{
   color: blue;
   text-decoration: none;
}
a: hover{
   color: green;
   text-decoration: underline;
}
a: active{
   color: red;
   text-decoration: underline;
}
div#header{
   background-color: red;
}
a#home{
   color: green;
   font-family: "courier new";
   font-size: 15em;
}
