body{
   font-family: arial
}
a:link, a:visited{
   color: purple;
}
div#header{
   background-color: red;
}
a#home{
   color: green;
   font-family: "courier new";
   font-size: 15em;
}
div#footer{
   font-size: 0.5em;
}
